
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
  background: radial-gradient(white, grey);
  background-color: blanchedalmond;
  color: white;
  font-family: 'Quicksand';
  margin: 0;
  display: grid;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

a {
  text-decoration: none;
}

nav {
    font-size: 20px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1%;
}

ul {
  /* background: blanchedalmond; */
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
  font-size: 20px;
  color: #fff;
/* background: blanchedalmond; */
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
transition-duration: 0.5s;
}

li a {
  font-family: 'Quicksand';
  color:black;
}

ul li ul {
  background: blanchedalmond;
  visibility: hidden;
opacity: 0;
min-width: 5rem;
  position: absolute;
transition: all 0.5s ease;
margin-top: 1rem;
  left: 0;
display: none;
}

button.start:hover {
    background-color: white !important;
}

section.landing {
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.board {
    display: grid;
}

section.box {
    display: grid;
    border-radius: 5%;
    background: url(../images/omok1.jpg);
    width: 500px;
    box-shadow: 10px 5px 15px 2px black;
}

section.playable :hover {
    background-color: white !important;
    cursor: pointer;
  }

div.win {
    font-size: 35px;
}

#timer {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

h2.player {
    margin-top: 0;
    margin-bottom: 0;
}

a.big {
  font-size: 30px;
}

li:hover {
    background: green;
    cursor: pointer;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}

button.start {
    color: rgb(168, 168, 168);
}

button:hover {
    color: white;
    cursor: pointer;
}

section.landing {
    display: grid;
    height: 100vh;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.playable {
    margin-top: 2%; 
    display: grid;
    grid-template-columns: repeat(19, 18px);
    grid-template-rows: repeat(19, 18px);
    /* grid-gap: 2px; */
    align-content: center;
    justify-content: center;
    margin-bottom: 10%; 
    background-color: brown;
    box-shadow: 5px 5px 15px 2px black;
    margin-left: 15%;
    width: 350px;
    height: 350px;
}

section.playable div {
    border: 1px solid black;
    border-radius: 10%;
  }

section.game {
    opacity: 0;
}

li#id:hover {
    background-color: green;
}

div.heading {
  text-align: center;
  color: black
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
  /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #2196F3;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}
h3.landingTitle {
  margin-top: 10px;
  font-family: 'sand-serif';
  font-size: 45px;
  margin-bottom: 0;
  text-align: center;
}

p.rule {
  text-align: center;
}

h2#timer {
  margin-top: 0;
}

button.start {
  color: black;
  border: solid 2px black;
  background-color: rgb(168, 168, 168)
}