
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    height: 1vh;
    margin-right: 15%;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-bottom: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #BAD7F2;
}

button {
    background-color: #BAD7F2;
    width: 50;
    height: 25px;
    color: white;
    border: none;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
}

button:hover {
    color: rgb(38, 189, 98);
    text-decoration: underline;
}

section.playable {
    display: grid;
    grid-template-columns: repeat(19, 3vh);
    grid-template-rows: repeat(19, 3vh);
    border-radius: 5%;
    grid-gap: 1px;
}

section.leftBar {
    display: grid;
    color: white;
    position: relative;
    font-size: 25px;
    border: 2px solid #565264;
    justify-items: center;
    margin-right: 5%;
}

section.playable div {
    border: 1px solid black;
    border-radius: 10%;
    background-color: #565264;
  }

section.playable :hover {
    background-color: #706677 !important;
    cursor: pointer;
  }

section.leftBar input {
    color: black;
}

section.leftBar label {
    color: black;
    font-size: 20px;
    padding-right: 15px;
}
 
.container {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 27%;
}

.title {
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.header {
    text-decoration: underline;
    justify-content: center;
    color: black;
}

.etc {
    color: black;
}


.timer {
    display: flex;
    justify-content: 50px;
    padding-left: 50px;
    margin-bottom: 0;
}

.player {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    margin-top: 0;
    margin-bottom: 5%;
}

.playable {
    background-color: #BAD7F2;
}

.win {
    display: flex;
    justify-content: center;
}

.mrk {
  color: white;
  text-align: center;
  font-size: 110px;
  margin-bottom: 10px;
}

.dsp {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 45px;
}

.dsp2 {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 45px;
}

.heading {
    display: grid;
    justify-content: center;
    margin-left: 10%;
}

#note {
    font-size: 15px;
    margin: auto;
    padding: 0 10px 0 10px;
}

 #container {
     display: flex;
 }

 #reset {
    margin-top: 5px;
    margin-left: 47%;
    width: 200px;
}
